<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>로그인</title>
</head>
<body>
    <div class="container">
        <h1>My Page</h1>
        <div class="info-item">
            <span class="info-label">아이디:</span>
            <span th:text="${member.username}"></span>
        </div>
        <div class="info-item">
            <span class="info-label">닉네임:</span>
            <span th:text="${member.nickname}"></span>
        </div>
        <div class="info-item">
            <span class="info-label">이메일:</span>
            <span th:text="${member.email}"></span>
        </div>
        <div class="info-item">
            <span class="info-label">랭크:</span>
            <span th:text="${member.userRank}"></span>
        </div>
        <div class="info-item">
            <span class="info-label">경험치:</span>
            <span th:text="${exp.expPoints}"></span>
        </div>
    </div>
</body>

</html>